* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}


.el1 {
    width: 100px;
    height: 100px;
    background: linear-gradient(to right, rgb(207, 28, 103), rgb(210, 80, 97));
    
}

.el2 {
    
    width: 100px;
    height: 100px;
    background: linear-gradient(to top, rgb(137, 45, 194), rgb(36, 142, 17));
    float: right;
    margin-top: -80px;
    
}

.el3 {
    width: 100vw;
    height: 100px;
    background: linear-gradient(to top, rgb(143, 99, 209), rgb(232, 19, 104));
    margin-top: 20px;
}

.el4 {
    position: absolute;
    top: 0;
    left: 100px;
    width: 200px;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(135, 193, 40), rgb(40, 110, 207));
}

.el5 {
    width: 800px;
    height: 130px;
    background: linear-gradient(to left, white, black);
    float: right;
    margin-top: 100px;
}

.el6 {
    width: 100px;
    height: 100vh;
    background: linear-gradient(to top, pink, white);
    float: left;
}

.el7 {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 500px;
    background: linear-gradient(to right, pink, white);
    margin-left: 500px;
}

.el8 {
    position: absolute;
    top: 0;
    right: 200px;
    width: 100px;
    height: 800px;
    background: linear-gradient(to bottom, pink, white);
}

.el9 {
    width: 80vw;
    height: 400px;
    background: linear-gradient(to right, black, white);
    float: right;
    margin-top: 100px;
}

.el10 {
    position: absolute;
    width: 500px;
    height: 300px;
    background: linear-gradient(to right, green, white);
    right: 100px;
    bottom: 250px;
}