* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(131, 19, 212);
}


.el1 {
    width: 100px;
    height: 100px;
    background: linear-gradient(to right, rgb(207, 28, 103), rgb(210, 80, 97));
    rotate: 30deg;
    
}

.el2 {
    
    width: 100px;
    height: 100px;
    background: linear-gradient(to top, rgb(137, 45, 194), rgb(36, 142, 17));
    float: right;
    margin-top: -80px;
    border-radius: 100%;
    rotate: 50deg;
}

.el3 {
    width: 100vw;
    height: 100px;
    background: linear-gradient(to top, rgb(143, 99, 209), rgb(232, 19, 104));
    position: absolute;
    top: 40px;
}

.el4 {
    position: sticky;
    top: 0;
    left: 100px;
    width: 200px;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(135, 193, 40), rgb(40, 110, 207));
}

.el5 {
    width: 800px;
    height: 130px;
    background: linear-gradient(to left, rgb(250, 233, 46), rgb(234, 19, 19));
    float: right;
    margin-top: 100px;
}

.el6 {
    width: 100px;
    height: 100vh;
    background: linear-gradient(to top, rgb(214, 57, 185), rgb(159, 212, 60));
    float: left;
}

.el7 {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 500px;
    background: linear-gradient(to right, rgb(110, 53, 171), rgb(71, 250, 86));
    margin-left: 500px;
}

.el8 {
    position: absolute;
    top: 0;
    right: 200px;
    width: 100px;
    height: 800px;
    background: linear-gradient(to bottom, pink, white);
}

.el9 {
    width: 80vw;
    height: 400px;
    background: linear-gradient(to right, rgb(255, 151, 61), rgb(243, 49, 149));
    float: right;
    margin-top: 100px;
}

.el10 {
    position: absolute;
    width: 500px;
    height: 300px;
    background: linear-gradient(to right, green, white);
    right: 100px;
    bottom: 250px;
}